# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

# ops
ops/charts-values
ops/scripts/kind/*-overrides.yaml
ops/scripts/gcp/*-overrides.yaml
ops/scripts/gcp/terraform/terraform.tfvars
ops/scripts/gcp/terraform/terraform.tfstate*
ops/scripts/gcp/terraform/.terraform*
